@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: bold;
}

.wrapper {
  min-height: calc(100vh - 227px);
}

.container {
  width: 80%;
  margin: auto;
  max-width: 1920px;
}

.section {
  margin-top: 3rem;
}

.center {
  text-align: center;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header img {
  width: 60px;
}

header .left a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: #000000;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

header nav ul li {
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

header nav ul li a {
  text-decoration: none;
  font-weight: 600;
  color: #000000;
}

header nav ul :hover {
  color: #7b441b;
  -webkit-transform: scale(1.035);
          transform: scale(1.035);
}

header nav ul li ~ li {
  margin-left: 2rem;
}

.hero {
  width: 100%;
  height: 96vh;
  background-image: url(hero.jpg);
  background-size: cover;
  background-position: 10%;
}

.left-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  max-width: 1400px;
  margin: auto;
}

.left-right img {
  width: 300px;
}

.left-right p {
  width: 50%;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  max-width: 1400px;
  margin: auto;
  margin-top: 4rem;
}

.cards .card {
  background-color: #c01919;
  border-radius: 20px;
  text-align: center;
  padding: 1.5rem;
}

.cards .card img {
  width: 200px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  padding: 1rem;
}

.cards .card h3, .cards .card p {
  color: #ffffff;
  max-width: 140px;
  margin: auto;
  padding: 0.5rem 0;
}

.cards .card:nth-child(2) {
  background-color: #7b441b;
}

#map {
  height: 360px;
  margin-top: 2rem;
}

.course__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  max-width: 1400px;
  margin: auto;
  margin-top: 4rem;
  margin-bottom: 3rem;
}

.course__cards a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  text-decoration: none;
}

.course__cards a .course__card {
  background-color: #7b441b;
  border-radius: 20px;
  text-align: center;
  padding: 1.5rem;
}

.course__cards a .course__card img {
  width: 200px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  padding: 1rem;
}

.course__cards a .course__card h3, .course__cards a .course__card p {
  color: #ffffff;
  max-width: 140px;
  margin: auto;
  padding: 0.5rem 0;
}

.course__cards a:nth-child(2) .course__card {
  background-color: #97511b;
}

.course__cards a:nth-child(3) .course__card {
  background-color: #bd5e16;
}

.address-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 600px;
  margin: 1rem auto;
}

.jobs .job-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1500px;
}

.jobs .job-cards .job-card {
  text-align: center;
  max-width: 19rem;
  padding: 1rem;
  margin: 3rem;
}

.jobs .job-cards .job-card img {
  width: 140px;
}

.jobs .job-cards .job-card .info {
  min-height: 88px;
}

.jobs .job-cards .job-card .more-info {
  margin-top: 2rem;
}

.jobs .job-cards .job-card .more-info a {
  color: #ffffff;
  background-color: #5f3413;
  text-decoration: none;
  padding: 0.75rem;
  border-radius: 1000px;
}

footer {
  text-align: center;
  padding: 2rem;
  color: #ffffff;
  background-color: #5f3413;
}

footer .socials a {
  font-size: 1.5rem;
  color: #ffffff;
  margin: 0 0.2rem;
}
/*# sourceMappingURL=style.css.map */